#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.appBackDrop {
  background-color: #f0f2f5;
  height: 100vh;
}

.incomeTaxDisplayGridTheme {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 45px 45px !important;
  margin-top: 5vh;
  background-color: #ffffff;
}

.incomeTaxDisplayGroupText {
  background: #fafafa;
  padding: 12px 12px !important;
  border: 1px solid #e8e8e8;
}

.incomeTaxDisplayGroupInput {
  background: #ffffff;
  padding: 12px 12px !important;
  border: 1px solid #e8e8e8;
}
